html{
    background-color: azure;
}

nav{
    display: flex;
    justify-content: space-between;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(94, 51, 195);
    height: 300px;
}

#contents{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    color: rgb(94, 51, 195);
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#foot{
    display: flex;
    justify-content: center;
    font-size: large;
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#individual{
    background-color: rgb(200, 220, 249);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#individual > h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#individual > p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
